SECRET_KEY=changez-moi-en-production
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,.pythonanywhere.com
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://votrecompte.pythonanywhere.com
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://votrecompte.pythonanywhere.com
USE_POSTGRESQL=false
